* {
  box-sizing: border-box;
}
*{
    padding: 0px;
    margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a, .dropdownmenu {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;padding-bottom: 10px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropdownmenu {
  background-color: grey;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: dimgray;}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{padding-top: 20px;margin-left: 600px;}
h4{color: dimgrey;padding-top: 9px;margin-left: 630px;}
.para1{padding-top: 9px;margin-left: 200px;text-align: justify-all;margin-right: 200px;}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    
  float: left;
  width: 29.33%;
  padding-left: 200px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.para2{padding-left: 35px;}

.container2{
    background-color: black;
    width: 100%;
    border: 90px solid black;
    padding: 10px;
    margin: 0px;
    border-bottom-width: 5px;
}
h2{text-align: center;
    color: white;}
.para3{
    text-align: center;
    color: white;
}

.container3{
    background-color: black;
    width: 100%;
    border-top-width: 0px;
    border: solid black;
    padding-left: 400px;
    padding-right: 400px;
    margin: 0px;
    border-bottom-width: 20px;
}
td,table,th,tr{
    color: grey;
    text-align: left;
    background-color: white;
    padding-right: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom-width: 20px;
}
body{ justify-content: center;}


.city{
    background-color: white;
    border: solid 15px black;
    border-width:5px;
    padding: 0px;
}

.city h1{
    text-align: center
    font-size: 12px;
    padding: 12px;
    font-weight:400;
    margin-left:0px
}

.city h2{
    font-size: 17px;
    padding: 17px;
    font-weight:100;
    color: darkgray;
}

.city p{
    padding: 17px;
    line-height: 20px;
}

 .city button{
    font-size: 17px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 10px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
    
    float: left;
    width: 32.98%;
    padding-left: 100px;
    background-color: black;
     
}

/* Clear floats after image containers */
.row1::after {
    content: "";
    clear: both;
    display: table;
}

.smedia{
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.smedia img{
    color: darkgray;
    width: 30px;
    height: 30px;
    margin-right: 2px;
}
.w3{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: darkgrey;
    padding-bottom: 50px;
    font-weight: 10px;
}

.w3 a{
    color: darkgrey;
}